@import "style.css";
@import 'sass/constants/constants.scss';

@mixin flex($display: flex) {
    display: $display;
    align-items: center;
    justify-content: center;
}
@mixin text-custum(){
    text-decoration-skip-ink: none;
    text-decoration: none;
    text-align: center;
    text-underline-position: from-font;
}
@mixin wrap() {
    flex-wrap: wrap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
.header{
    background: #121212;
    box-shadow: 0px 3px 3px rgba(256, 256, 256, 0.5);
    width: 100%;
    height: 130px;
    cursor: default;
    position: sticky;
    top: 0;
    z-index: 1;
    @include flex();
}
main{
    background-image: url('background-black.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // height: 100%;
}
.name h1{
    font-family: $font-Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: $letter-spacing_text;
    text-underline-position: from-font;
    color: $white-color;
    @include text-custum();
}
.professional-photo{
    width: 120px; 
    opacity: 0.5;
    margin-top: 5px;
    transition: opacity 0.3s ease-out;
}
.nav-scroll{
    height: 80px;
    @include flex();
}
.member1_profile {
    width: 250px;
    height: 300px;
    background: #e0e0e0;
    border-radius: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.members-switch-text{    
    font-family: $font-Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0$letter-spacing_text;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $almost-white-color;
    text-decoration: none;
}
.members-switch-block{
    display: $flexbox__display-flex;
    align-items: center;
    gap: 10px;
}
.members-switch {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    background-color: #3840CC;
    border-radius: 22px;
    cursor: $cursor-pointer;
}
.members-switch-circle-left{
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    transition: ease-in-out 0.5s;
}
.members-switch-circle-right {
    display: none;
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    transition: ease-in-out 0.5s;
}
.results{
    display: $flexbox__display-flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.hyper-nineteen{
    font-family: $font-Montserrat;
    font-size: 50px;
    font-weight: 650;
    line-height: 40px;
    letter-spacing: $letter-spacing_text;
    color: rgba(24, 28, 41, 1);
    text-decoration: none;
    @include text-custum();
}
.winners-2019{
    height: 500px;
}

.members{
    display: $flexbox__display-flex;
    flex-direction: row;
    @include wrap();
    gap: 50px;
    justify-content: center;
}
.member-info_block{
    flex: calc((100% - 60px) / 4);
    max-width: 1200px;
    min-width: 1000px;
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.04);
    }
}
.members-info_text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 10px;
}
.text-members_purple__color{
    color: mediumslateblue;
}
.special_student_1{
    display: $flexbox__display-flex;
    flex-direction: row;
    width: 800px;
    gap: 3px;
    list-style-type: none;
}
.special_student_1::before { 
    content: "📚"; 
    font-size: 24px;
    margin-right: 5px;
}
.special_student_2{
    display: $flexbox__display-flex;
    flex-direction: row;
    width: 800px;
    gap: 3px;
    list-style-type: none;
}
.special_student_2::before { 
    content: "🎯"; 
    font-size: 24px;
    margin-right: 5px;
}
.special_student_3{
    display: $flexbox__display-flex;
    flex-direction: row;
    width: 800px;
    gap: 3px;
    list-style-type: none;
}
.special_student_3::before { 
    content: "👨‍🎓️"; 
    font-size: 24px;
    margin-right: 5px;
}
.special_student-p{
    font-family: $font-Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: $letter-spacing_text;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $almost-black-color-p;
}
.twenty-19-comptetition{
    color: #1B263B;
    margin-left: 50px;
}
.person_img{
    width: 280px;
    height: 280px;
}
// buttom photo line
.seperator-wrapper {
    width: 300px;
    margin-top: -41px;
    .seperator {
    width: 250px;
    height: 3.5px;
    animation: rotate 2s infinite linear;
    -webkit-animation: rotate 2s infinite linear;
    }
}
@-webkit-keyframes rotate {
    from {
        background-position: -300px;
    }
    to { 
        background-position: 0px;
    }
}
@keyframes rotate {
    from {
        background-position: -300px;
    }
    to { 
        background-position: -50px;
    }
}
.gradient {
    background: rgb(30,30,30); /* Old browsers */
    background: -moz-linear-gradient(left, $black-gradient-color-line 0%, $grey-gradient-color-line 25%, $hundred-grey-gradient-color-line 50%, $hundred-fiveth-grey-gradient-color-line 75%, $black-gradient-color-line 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, $black-gradient-color-line 0%, $grey-gradient-color-line 25%, $hundred-grey-gradient-color-line 50%, $hundred-fiveth-grey-gradient-color-line 75%, $black-gradient-color-line 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $black-gradient-color-line 0%, $grey-gradient-color-line 25%, $hundred-grey-gradient-color-line 50%, $hundred-fiveth-grey-gradient-color-line 75%, $black-gradient-color-line 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $black-gradient-color-line 0%, $grey-gradient-color-line 25%, $hundred-grey-gradient-color-line 50%, $hundred-fiveth-grey-gradient-color-line 75%, $black-gradient-color-line 100%); /* IE10+ */
    background: linear-gradient(to right, $black-gradient-color-line 0%, $grey-gradient-color-line 25%, $hundred-grey-gradient-color-line 50%, $hundred-fiveth-grey-gradient-color-line 75%, $black-gradient-color-line 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#1e1e1e',GradientType=1 ); /* IE6-9 */
}
.first-place_paragraph{
    font-family: $font-Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: $letter-spacing_text;
    color: $almost-black-color-p;
    text-decoration: none;
    @include text-custum();
    padding-top: 5%;
}


@media (max-width: 1200px) {
    .member-info_block{
        min-width: 600px;
    }
}
@media (max-width: 1150px) {
    .progr-speciality_p{
        font-size: 22px;
        transition: color 0.5s ease;
        &:hover{
            color: rgb(139, 33, 215);
            cursor: pointer;
        }
    } 
    @media (max-width: 1150px) {
        .member-info_block {
            cursor: default;
            transition: none;
            &:hover{
                transform: none;
            }
        }
    }
}
@media (max-width: 770px){
    .header{
        height: 115px;
    }
    .name h1{
        font-size: 24px;
        line-height: 30px;
    }
    .years-twentys {
        height: 45px;
        width: 100px;
        border-radius: 20px;
    }
    .p-years{
        font-size: 19px;
    }
}







