$flexbox__display-flex: flex; 
$cursor-pointer: pointer;
$font-Montserrat: Montserrat;
@mixin wrap() {
    flex-wrap: wrap;
}
@import "style.css";
@import "style.scss";
@import 'sass/constants/constants.scss';

// :root{
//     --width-screen: calc(100vw - 200px);
// }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    width: 150px;
    height: 150px;
    margin-left: -15px;
}
.nineteen-year__section{
    margin: 0 auto;
}
.years-results{
    display: none;
    justify-content: center;
}
.years-hyper_paragraph{
    font-family: $font-Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #f6f6f6;
    text-align: center;
}
.block-winners__div{
    box-sizing: border-box;
    margin-top: 30px;
}
.block-winners{
    display: $flexbox__display-flex;
    justify-content: center;

}
.buisness_blocks{
    align-items: stretch;
    display: $flexbox__display-flex;
    height: 500px;
    gap: 50px;
    margin: 50px 20px 0px 10px;
    flex-direction: row;
    @include wrap();
    list-style-type: none;
    width: 100%;
    justify-content: center;
}
.buisness_block{
    flex: calc((100% - 60px) / 4);
    width: 700px;
    flex-direction: row;
    background: #4539bd;
    border-radius: 25px;
    gap: 30px;
    padding: 40px;
    display: $flexbox__display-flex;
    height: 230px;
    border-radius: 30px;
    cursor: $cursor-pointer;
    transition: transform 0.3s ease; 
    &:hover{
        transform: scale(1.03);
    }
}
.about_member-resulting{
    display: $flexbox__display-flex;
    flex-direction: column;
    margin-top: 25px;
}
.name_of_members-competition{
    font-family: $font-Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-decoration: none;
}
.name_of_place-competition{
    margin-top: 10px;
    font-family: $font-Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-decoration: none;
}
.winners-years{
    // height: 130px;
    display: $flexbox__display-flex;
    gap: 40px;
    @include wrap();
}
.years-twentys{
    height: 45px;
    width: 110px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid rgba(256, 256, 256, .8);
    cursor: $cursor-pointer;
    transition: 0.4s ease-in-out;
    &:hover{
        background: #674fff;
        transition: 0.35s ease-in-out;
    }
}
.years-twentys.active {
    background: #2250CC;
}
.p-years{
    font-family: $font-Montserrat;
    font-size: 20px;
    font-weight: 550;
    line-height: 40px;
    letter-spacing: $letter-spacing_text;
    color: $almost-white-color;
    text-decoration: none;
    @include text-custum();
}
.photo-place__block{
    display: block;
}
.circle{
    width: 55px;
    height: 55px;
    margin-top: -40px;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    margin-left: 34px;
}
@media (max-width: 1468px) {
    img{
        width: 160px;
        height: 160px;
    }
    .buisness_block{
        display: $flexbox__display-flex;
        padding-top: 25px;
        gap: 10px;
        flex-direction: column;
        height: 320px;
        flex: calc((100% - 60px) / 4);
        align-items: center;
    }
    .name_of_members-competition{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 26px;
    }
    .name_of_place-competition{
        text-align: center;
        margin-top: 15px;
        line-height: 24px;
    }
    .circle{
        margin-left: 40px;
    }
}
@media (max-width: 1192px) {
    .about_member-resulting{
        margin-top: 10px;
    }
}
@media (max-width: 1052px) {
    img{
        width: 130px;
        height: 130px;
    }
    .name_of_members-competition{
        font-size: 22px;
    }
    .name_of_place-competition{
        font-size: 18px;
    }
    .circle{
        width: 45px;
        height: 45px;
        margin-top: -35px;
        margin-left: 29px;
    }
    .p-years{
        font-size: 18px;
    }
    .years-twentys{
        height: 40px;
        width: 90px;
        @include flex();
    }
}
@media (max-width: 800px) {
    .years-twentys{
        height: 35px;
        width: 80px;
    }
    .p-years{
        font-size: 16px;
    }
} 
@media (max-width: 770px) {
    .name h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .members-switch-circle-left{
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
    }
    .members-switch-circle-right{
        top: 2px;
        right: 2px;
        width: 16px;
        height: 16px;
    }
    .members-switch{
        width: 40px;
        height: 20px;
    }
    .members-switch-block{
        justify-content: center;
    }
    .members-switch-text{
        font-size: 18px;
        line-height: 26px;
    }
    .winners-years{
        justify-content: center;
    }
    .years-hyper_paragraph{
        font-size: 26px;
    }
    .buisness_blocks{
        @include wrap();
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .buisness-block{
        width: 50px;
        height: 50px;
    }
    .block-winners {
        justify-content: center;
    }
    .name_of_members-competition{
        font-size: 20px;
    }
    .block-winners__div{
        margin-top: 30px;
    }
}