$white-color: white;
$almost-black-color-p: rgba(24, 28, 41, 1);
$almost-white-color: rgba(256, 256, 256, 0.9);
$cursor-pointer: pointer;
$font-Montserrat: Montserrat;
$flexbox__display-flex: flex; 
$letter-spacing_text: 0.05em;
$black-gradient-color-line: rgba(30,30,30,1);
$grey-gradient-color-line: rgba(50,50,50,1);
$hundred-grey-gradient-color-line: rgba(100,100,100,1);
$hundred-fiveth-grey-gradient-color-line: rgba(150,150,150,1);